* {
  margin:0px;
  padding:0px;
}

body {
  background:rgb(124, 178, 242);
  font-style:Verdana, serif;
}

.cf::after {
  display:table;
  content:"";
  clear:both;
}


/* header START */
#header {
  background:rgb(73, 106, 190);
  padding:10px;
}

#header img {
  display:inline;

}
#navbar {
margin-left:21%;
text-align:center;
display:inline;

}

#navbar ul {
  list-style-type:none;
  display:inline;

}
#navbar ul li {
  display:inline;
}
#navbar ul li a {
  text-decoration:none;
  font-size:22px;
  padding:10px;

}
/* header END */
