html {

  height:100%;
  width:100%;
}

* {
    margin:0px;
    padding:0px;
}

.cf::after {
    display:table;
    content:"";
    clear:both;

}
body {
    font-family:Verdana, serif;
    height:100%;
}
/* START HEADER */
#header {
    background:#2f40e4;
    width:100%;
    position:relative;


}
#header img {
    display:inline;
    margin-left:10px;
    float:left;
}
#navbar {
    display:inline;
    float:left;
}
#navbar ul {
    list-style-type:none;
}
#navbar ul li {
    float:left;

}
#navbar ul li a {
    padding:28px;
    font-size:16px;
    display:block;
    text-decoration:none;
    color:#fff;

}

#navbar ul li a:hover {
    background:#041cff;

    border-bottom:2px solid #FFC400;
}

#search {
    float:right;
    margin:24px 40px 0 0;
}
#search input[type=text] {
    padding:5px;
}
#search input[type=text]:focus {
    outline:none;
    border:2px solid #FFC400;
}
#search input[type=submit] {
    padding:5px;
    background:#FFC400;
    border:2px solid #FFC400;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
    font-weight:bold;
}
#search input[type=submit]:hover {
    box-shadow:2px 2px #000;
}
#search input[type=submit]:focus {
    border:none;
}
/* END HEADER */
/*START container */
#container {
    width:1200px;
    margin:0 auto;



}
/*START main */
.sign {
    float:left;
     color:#000;
    font-weight:bold;
    text-decoration:none;
    margin-top:10px;
    margin-left:10px;
}
.sign:hover {
    text-decoration:underline;
    text-decoration-color:#ffc400;
}

#shop-bar {
    float:right;
    width:100%;
    background:rgba(47, 64, 228, 0.71);
    height:40px;

}

#shop-bar p {
    float:right;
    padding:10px 10px 0 0;
}

#shop-bar i {
    float:right;
    padding:10px 10px 0 10px;
    color:rgba(255, 196, 0, 0.77);
    font-size:20px;
}
#shop-bar i:hover {
    font-size:25px;
    padding:10px 10px 10px 10px;
}
#shop-bar span {
    float:right;
    padding-top:10px;
    font-weight:bold;
}
#main {
  float:right;
  width:895px;
}

#product-box {
    width:100%;
    text-align:center;
    margin-left:10px;
    margin-bottom:10px;
}
.single-product {
    height:280px;
    width:250px;
    float:left;
    margin:20px;
    border:3px solid #2f40e4;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;
    overflow:hidden;

}
.single-product h4 a {
    text-decoration:none;
    color:#000;
    position:relative;
    top:3px;


}
.single-product h4 {
    background:#FFC400;
    height:30px;

}

.single-product img {
    width:200px;
    height:200px;
}
.single-product button {
    padding:5px;
    font-weight:bold;
    background:#FFC400;
    border:none;
}
.single-product button:hover {
    box-shadow:2px 2px;
}
.single-product button:focus {
    outline:none;
    padding:4px;
}
.single-product:hover h4 {
    background:rgba(255, 196, 0, 0.6);
}

.pro-details {
    width:100%;
}
.pro-details h1 {
    background:#FFC400;
    border:1px solid #FFC400;
    border-radius:30%;
    margin:10px 0 10px 0;
}
.pro-details img {
    width:400px;
}
.desc-details {
    background:#ffc400;
    width:100%;
}
.desc-details span {
    position:relative;
    bottom:30px;
    right:350px;
    background:rgba(255, 196, 0, 0.52);
    padding:5px;


}
.desc-details p {

    padding:5px;

}

.pro-details span {
    font-weight:bold;
    padding-top:10px;
}
.pro-details button {
    padding:5px;
    font-weight:bold;
    background:#FFC400;
    border:none;
    margin:10px;
}

.pro-details button:hover {
    box-shadow:2px 2px;
}
.pro-details button:focus {
    outline:none;
    padding:4px;
}

.fail-search {
    margin-top:150px;
}


#product-box-cart {
    width:100%;
}
#product-box-cart table {
    margin:0 auto;
    border-left:2px solid #2f40e4;
    border-bottom:2px solid #2f40e0;
    border-right:2px solid #2f40e4;
    margin-top:20px;
    margin-bottom:0px;
    border-collapse:collapse;
}


#product-box-cart table  th {
    padding:10px 40px 10px 10px;
    background:#FFC400;
    font-size:15px;

}
#product-box-cart table td {
    border-bottom:2px solid #2f40e0;
    text-align:center;
    border-collapse:collapse;


}

#product-box-cart table td img {
    width:250px;
    height:300px;
}

#product-box-cart table td button {
    color:#ffc400;
    border:none;
    background:#fff;
    font-size:20px;
}
#product-box-cart table td button:hover {
    color:red;
}
#product-box-cart table td input[type=submit] {
    padding:5px;
    background:#ffc400;
    font-weight:bold;
    border:none;
}
#product-box-cart table td input[type=submit]:hover {
    border-bottom:1px solid #ffc400;
}
#product-box-cart table td input[type=text] {
    width:20px;
    border:2px solid #ffc400;
    padding:3px;
}
#product-box-cart table td input[type=text]:focus {
outline:none;
}

#product-box-cart table td a:hover {
    color:red;
}
#product-box-cart p {
    margin-left:497px;
    margin-bottom:20px;
    background:#FFC400;
    width:180px;
    border:2px solid #FFC400;
    padding-left:60px;
    border-bottom-left-radius:80%;
}
#product-box-cart #check-buttons {
    width:100%;
    text-align:center;
    margin-bottom:30px;
}
#product-box-cart #check-buttons input {
    padding:10px;
    margin-left:10px;
    background:#FFC400;
    font-weight:bold;
    border:none;

}
#product-box-cart #check-buttons input:hover {
    border-bottom:1px solid #2f40e4;
}
/* END main */
/* START SIDE */
#side {
    width:295px;
    border-right:2px solid #FFC400;
    background:#2f40e4;
    padding-bottom:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}
#side h2 {
    text-align:center;
    font-size:24px;
    padding:10px;

}
#side hr {
    width:90%;
    margin:0 auto;
    border:1px solid #FFC400;
}

#side table {
    margin:0 auto;
}
#side table tr td {
    padding:10px;
}
#side table tr td a {
    text-decoration:none;
    color:#fff;

}
#side table tr td a:hover {
    color: #FFC400;
}

#side ul {
    list-style-type:none;
}
#side ul li a {
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    display:block;
}

#side ul li a:hover {

    background:#041cff;

}
/* END side */
/*END container */
/* START footer */
#footer {
    margin-top:10px;
    width:100%;
    background:#2f40e4;
    height:200px;
    clear:both;

}
#footer p {
    font-size:18px;
    text-align:center;
    position:relative;
    top:85px;
    color:#fff;
}
.lower-footer {
    position:relative;
    top:100px;
}
/* END footer */
/* START logn forn */
#login-form {
    margin-top:100px;
}
#login-form h1 {
    background:#ffc400;
}
#login-form p {
    margin:10px;
    font-size:24px;
}
#login-form input[type=text],#login-form input[type=password] {
    padding:5px;
    margin:10px;

}
#login-form input[type=text]:focus,#login-form input[type=password]:focus {
    border:2px solid #ffc400;
    outline:none;
}

#login-form button {
    padding:5px;
    margin:5px;
    background:#ffc400;
    border:1px solid #ffc400;
    border-radius:20%;
    margin-top:20px;
    font-size:18px;
}
#login-form button:hover{
    box-shadow:1px 2px;
}
#login-form button:focus {
    outline:none;
    box-shadow:none;
}
#login-form span {
    font-size:14px;
}
#login-form a {
    text-decoration:none;
    color:#2f40e4;
    font-size:14px;
}
#login-form a:hover {
    text-decoration:underline;
    text-decoration-color: #ffc400;
}
#login-form .forgot-pass {
    position:relative;
    top:200px;
    left:35px;
    font-size:12px;
}
/* END logn forn */
/* START register-box */
#register-box {
    margin-top:100px;
    margin-bottom:100px;
}
#register-box h1 {
    background:#ffc400;
}
#register-box table {
    margin:0 auto;
    margin:5px;
    display:inline;
}
#register-box input {
    margin:10px;
    padding:5px;
    width:225px;
}
#register-box input[type=text]:focus,#register-box input[type=password]:focus {
    border:1px solid #ffc400;
    outline:none;
}
#register-box select, #register-box option {
    padding:5px;
    width:240px;
    overflow:hidden;

}
#register-box select:focus {
    outline:none;
    border:1px solid #ffc400;
    overflow:hidden;

}
#register-box input[type=file] {
margin-left:10px;
background:#ffc400;
width:235px;
}
#register-box button {
    position:relative;
    top:150px;
    left:50px;
    padding:10px;
    background:#ffc400;
    border:1px solid #ffc400;
    border-radius:20%;
    font-size:16px;
    font-weight:bold;

}
#register-box button:hover {
    box-shadow:1px 2px #000;
}
#register-box button:focus {
    outline:none;

}
/* END register-box */
/* START payment-box */
#payment-box {
    margin-top:150px;
}
#payment-box h1 {
    display:inline;
}
#payment-box i {
    font-size:52px;
    position:relative;
    top:7px;
    color:#2f40e4;
}
/* END payment-box */
/*START customer-box */
#customer-box {
    margin:0 auto;

}
.customer-main img {
    width:200px;
    margin:30px;
    border:1px solid #000;
}
.customer-main p {
    margin-left:35px;
}
/*END customer-box */
/* START customerside */
.customer-side {
    height:230px;
}
/* END customerside */
