html {

  height:100%;
  width:100%;
}

* {
    margin:0px;
    padding:0px;
}

.cf::after {
    display:table;
    content:"";
    clear:both;

}
body {
    font-family:Verdana, serif;
    height:100%;
}
/* START HEADER */
#header {
    background:#2f40e4;
    width:100%;
    position:relative;


}
#header img {
    display:inline;
    margin-left:10px;
    float:left;
}
#navbar {
    display:inline;
    float:left;
}
#navbar ul {
    list-style-type:none;
}
#navbar ul li {
    float:left;

}
#navbar ul li a {
    padding:28px;
    font-size:16px;
    display:block;
    text-decoration:none;
    color:#fff;

}

#navbar ul li a:hover {
    background:#041cff;

    border-bottom:2px solid #FFC400;
}

#search {
    float:right;
    margin:24px 40px 0 0;
}
#search input[type=text] {
    padding:5px;
}
#search input[type=text]:focus {
    outline:none;
    border:2px solid #FFC400;
}
#search input[type=submit] {
    padding:5px;
    background:#FFC400;
    border:2px solid #FFC400;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
    font-weight:bold;
}
#search input[type=submit]:hover {
    box-shadow:2px 2px #000;
}
#search input[type=submit]:focus {
    border:none;
}
/* END HEADER */
/*START container */
#container {
    width:1200px;
    margin:0 auto;
    position:relative;


}
/*START main */

#main {
  float:right;
}


/* END main */
/* START SIDE */
#side {
    width:295px;
    border-right:2px solid #FFC400;
    background:#2f40e4;
    padding-bottom:20px;
    margin-top:10px;
}
#side h2 {
    text-align:center;
    font-size:24px;
    padding:10px;

}
#side hr {
    width:90%;
    margin:0 auto;
    border:1px solid #FFC400;
}

#side table {
    margin:0 auto;
}
#side table tr td {
    padding:10px;
}
#side table tr td a {
    text-decoration:none;
    color:#fff;

}
#side table tr td a:hover {
    color: #FFC400;
}

#side ul {
    list-style-type:none;
}
#side ul li a {
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    display:block;
}

#side ul li a:hover {

    background:#041cff;

}
/* END side */
/*END container */
/* START footer */
#footer {
    margin-top:10px;
    width:100%;
    background:#2f40e4;
    height:200px;
    clear:both;

}
#footer p {
    font-size:18px;
    text-align:center;
    position:relative;
    top:85px;
    color:#fff;
}
/* END footer */
